<div class="navbar">
  <nav>
    <a href="<%= recipes_path %>"><%= current_user.name %>'s Recipes</a> > <a href="<%= recipe_path(@recipe) %>"><%= @recipe.name %></a>
    <br>
    <%= @recipe.name %> <br />
  </nav>
</div>
<br><br>
<h1><%= @recipe.name %></h1>
<strong>Ingredients: </strong><%= @recipe.ingredients %><br>
<strong>Cook Method: </strong><%= @recipe.cook_method %><br>
<strong>Difficulty: </strong><%= @recipe.difficulty %><br>


<strong>Cook Time: </strong><%= @cookbook_recipe.cook_time %><br>
<strong>Prep Time: </strong><%= @cookbook_recipe.prep_time %><br>
<br>



<div class="crud-links">
  <%= link_to "Edit Recipe", edit_cookbook_recipe_path(@cookbook, @recipe), class: "edit-link" %> <br>
  <%= link_to "Delete Recipe", delete_cookbook_recipe_path(@cookbook, @recipe ), class: "delete-link", method: :delete %>
</div>
