<% if cookbook.errors.any? %>
  <h5 class="error"><%= cookbook.errors.full_messages.to_sentence %></h5>
<% end %>

<%= form_with model: cookbook, local: true do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title, class: cookbook.errors.any? ? "error-field" : nil %>
  <br>

  <%= f.label :user_id %>
  <%= f.number_field :user_id %>
  <br>

  <br><br>

  <h3>Add Some Existing Recipes</h3>
  <%= f.collection_check_boxes :recipe_ids, Recipe.all, :id, :name do |e| %>
    <%= e.check_box %>
    <%= e.object.name %>
    <br>
  <% end %>
  <br>


  <h3>Create a New Recipe for the Cookbook</h3>
  <%= f.fields_for :recipes_attributes do |recipes_fields| %>
    <%= recipes_fields.label :name %>
    <%= recipes_fields.text_field :name %>
    <br>

    <%= recipes_fields.label :ingredients %>
    <%= recipes_fields.text_field :ingredients %>
    <br>

    <%= recipes_fields.label :cook_method %>
    <%= recipes_fields.text_area :cook_method %>
    <br><br>

    <%= recipes_fields.label :difficulty %>
    <%= recipes_fields.number_field :difficulty %>
    <br><br>

    <%= recipes_fields.fields_for :cookbook_recipes_attributes do |ref| %>
      <%= ref.label :cook_time %>
      <%= ref.number_field :cook_time %>
      <br>

      <%= ref.label :prep_time %>
      <%= ref.number_field :prep_time %>
      <br>
    <% end %>
<% end %>


  <%= f.submit class: "submit-link" %>
<% end %>
