<% if cookbook.errors.any? %>
  <h5 class="error"><%= cookbook.errors.full_messages.to_sentence %></h5>
<% end %>

<%= form_with model: cookbook, local: true do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, class: cookbook.errors.any? ? "error-field" : nil %>
  <br>
  <br>

  <%= f.label :author %>
  <%= f.text_field :author, class: cookbook.errors.any? ? "error-field" : nil %>
  <br>
  <br>
  <%= f.label :creation_date %>
  <%= f.number_field :creation_date, class: cookbook.errors.any? ? "error-field" : nil %>
  <br>
  <br>
  <br><br>

  <h3>Add Some Existing Recipes</h3>
  <%= f.collection_check_boxes :recipe_ids, Recipe.all, :id, :name do |e| %>
    <%= e.check_box %>
    <%= e.object.name %>
    <br>
  <% end %>
  <br>



<%= f.submit class: "submit-link" %>
<% end %>
