<!--<a href="<%= cookbooks_path %>"><%= current_user.name %>'s Cookbooks</a> > <a href="<%= cookbook_path(@cookbook) %>"><%= @cookbook.title %></a> > Edit
-->
<h1>Edit Cookbook</h1>
<%= render "cookbooks/form", cookbook: @cookbook %>
