<div class="navbar">
  <nav>
    <a href="<%= cookbooks_path %>"><%= current_user.name %>'s Cookbooks</a>
    <br>
    <%= @cookbook.title %> <br />
  </nav>
</div>
<br><br>


<h1><%= @cookbook.title %></h1>
Author:  <strong><%= @cookbook.author %></strong>


<br>
<br>

<%= link_to "Create Recipe for Cookbook", new_cookbook_recipe_path(@cookbook, @recipe) %> <br>

    <div id="recipe-cards">

      <% @cookbook.recipes.uniq.each do |recipe| %>
        <div class="recipe-card">
          <%= link_to recipe.name, cookbook_recipe_path(@cookbook, recipe) %>
        </div>
      <% end %>
    </div>

    <br>
    <div class="crud-links">
      <%= link_to "Edit Cookbook", edit_cookbook_path(@cookbook), class: "edit-link" %> <br>
      <%= link_to "Delete Cookbook", @cookbook, class: "delete-link", method: :delete %>
    </div>
